# Archivos generados por entornos virtuales (como virtualenv o venv)
venv/
env/

# Dependencias de Python
/lib/
/lib64/
/include/
/bin/
/build/
/pycache__/

# Archivos de configuración local
.env
.env.*
*/settings_local.py


# Archivos generados por Django
*.log
db.sqlite3
media/

# Archivos generados por IDEs y editores de texto
.idea/
.vscode/
*.pyc

# Archivos de caché
__pycache__/

# Otros archivos generados
*.swp
.DS_Store
