.container {
  background-color: #1A1A1B;
  height: 70.8vh;

}

.containerPremio {
  position: absolute;
  top: calc(26% - 57px);
  left: calc(14% - 62px);
}

.premio {
  width: 20px;
  margin-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(76, 88, 76);
  margin-left: 15px;
}

.title {
  margin: 0 auto;
  font-size: 2.5em;
  color: white;
}

.edit {
  width: 180px;
  height: 50px;
  margin: 0 10px;
}

.premium {
  color: yellow;
  margin-left: 15px;
}

.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 25px;
  width: 100vh;
  height: 220px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgb(76, 88, 76);
}

.profile-info {
  margin-right: 20px;
  flex: 1 1 300px;
}

.profile_name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -40px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.profile_description {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.profile_picture {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile_picture img {
  position: absolute;
  top: calc(26% - 57px);
  left: calc(45% - 62px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.language {
  color: white;
  font-size: 15px;
}

.cloudinary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(35% - 57px);
  left: calc(-5% - 57px);
  width: 100%;

}

/* @media (max-width: 1024px) {
  .containerTitle {
    padding: 5px 20px;
  }

  .edit {
    width: 100px;
    height: 40px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 10px;
  }

  .profile-info {
    margin-right: 0;
    margin-bottom: 20px;
    flex: 1 1 100%;
  }

  .profile_picture {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
    flex: 1 1 100%;
  }

  .profile_picture img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .containerTitle {
    padding: 5px 10px;
  }

  .edit {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }

  .profile {
    margin: 10px 0;
    padding: 5px;
  }

  .profile-info {
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .profile-description {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .profile_picture img {
    width: 100px;
    height: 100px;
  }
} */