.container {
  background-color: #1A1A1B;
  height: 70.8vh;

}

.card__img {
  height: 192px;
  width: 100%;
}

.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #28282a;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: calc(13.8% - 57px);
  left: calc(38% - 70px);
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
} 

.edit{
  position: absolute;
  top: calc(18% - 57px);
  left: calc(12% - 62px);
}

.card__title {
  margin-top: auto;
  font-weight: 500;
  font-size: 30px;
  color: white;
}

.containerPremio {
  position: absolute;
  top: calc(26% - 57px);
  left: calc(14% - 62px);
}

.premio {
  width: 30px;
  margin-left: 20px;
  margin-top: 110px;
}

.header {
  display: flex;
  padding: 10px;
  margin-left: center;
  margin-top: 95px;
}

.edit {
  width: 180px;
  height: 50px;
  margin: 0 10px;
}

.premium {
  color: yellow;
  margin-left: 15px;
}

.profile_name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -40px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.profile_picture {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.profile_picture img {
  position: absolute;
  top: calc(6% - 70px);
  left: auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.language {
  color: white;
  font-size: 18px;
  position: relative;
  top: calc(-25% - 57px);
  left: calc(42% - 70px);
}

.cloudinary {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(15% - 57px);
  left: calc(21% - 70px);
  width: 100%;

}

/* @media (max-width: 1024px) {
  .containerTitle {
    padding: 5px 20px;
  }

  .edit {
    width: 100px;
    height: 40px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 10px;
  }

  .profile-info {
    margin-right: 0;
    margin-bottom: 20px;
    flex: 1 1 100%;
  }

  .profile_picture {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
    flex: 1 1 100%;
  }

  .profile_picture img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .containerTitle {
    padding: 5px 10px;
  }

  .edit {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }

  .profile {
    margin: 10px 0;
    padding: 5px;
  }

  .profile-info {
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .profile-description {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .profile_picture img {
    width: 100px;
    height: 100px;
  }
} */