@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  width: 100%;
  height: 100%;
}

.title h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
}

.titleNav {
  text-decoration: none;
}

.navButtonSidebar {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.title {
  color: white;
}

/* hasta aqui la navbar */

.menu_toggle {
  background-color: #212529 !important;
}

.header {
  display: flex;
  background-color: #3f854e;
  padding: 10px;
}

.profileLink {
  text-decoration: none;
}

.cardSidebar {
  display: flex;
  justify-content: center;
  padding: 6px 6px 10px 6px;
}

.profileImageSidebar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.profileImageSidebar img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 2px 2px 4px black;
}

.textContainerSidebar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: end;
  padding-left: 10px;
}

.nameSidebar {
  font-size: 23px;
  font-weight: 600;
  color: white;
  transition: 0.2s ease-out;
}

.nameSidebar:hover {
  color: #000;
}

.bodySidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: space-between;
}

.bodySidebar > :last-child {
  justify-self: flex-end;
}

.SidebarBtns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.linkSidebar {
  text-decoration: none;
  color: white;
}

.textLoginSidebar {
  color: white;
  padding-left: 6px;
}

.signSidebar {
  margin-top: 4px;
  padding: 10px 16px;
  border: unset;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.signSidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.signSidebar:hover {
  color: #e8e8e8;
}

.signSidebar:hover::before {
  width: 100%;
}

.loginSidebar {
  padding: 10px 16px;
  border: unset;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.loginSidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.loginSidebar:hover {
  color: #e8e8e8;
}

.loginSidebar:hover::before {
  width: 100%;
}

.sectionLinkSidebar {
  text-decoration: none;
  display: flex;
  padding: 4px;
  color: white;
  width: 100%;
}

.sectionLinkSidebar:hover {
  background-color: #3a4147;
}

.buttonTextSidebar {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5px;
}

.logout {
  padding: 5px 10px;
  border: 1px solid white;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.logout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #b61e13;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.logout:hover {
  color: #e8e8e8;
}

.logout:hover::before {
  width: 100%;
}

div.containerNav button.navbar-toggler {
  margin-left: auto;
  width: 150px;
  height: 250px;
}

.contact {
  margin-right: 5px;
  padding: 10px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}


.contact::before {
  background-color: #cac2c2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.contact:hover {
  color: #e8e8e8;
}

.contact:hover::before {
  width: 100%;
}

.buttonSections {
  width: 150px;
  padding: 4px;
  display: flex;
  border-radius: 10px;
  border: rgb(85, 175, 85);
  margin-bottom: 5px;
  background-color: #1a7930;
  color: white;
  transition: 0.5s;
  margin-left: 5px;
}

.buttonSections:hover {
  background-color: rgb(20, 158, 20);
}

.profile {
  font-size: 0.84em;
  color: rgb(194, 194, 194);
  letter-spacing: 0.2px;
}

.premiumLabel {
  background-color: rgb(218, 180, 74);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.premiumLabel p {
  font-size: 12px;
}