.title img {
  width: 200px;
  height: 70px;
  border-radius: 10px;
}

.title_toggle {
  font-size: 20px;
  text-decoration: underline;
}

.button-estilo {
  margin-left: 1830px;
  margin-top: -70px;
  width: 50px;
  height: 50px;
}

.title {
  color: white;
  margin-right: 900px;
}

.containerNav {
  display: flex;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 627px;
}

.logOut {
  margin-right: 10px;

  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.logOut::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.logOut:hover {
  color: #e8e8e8;
}

.logOut:hover::before {
  width: 100%;
}

div.containerNav button.navbar-toggler {
  margin-left: auto;
  width: 150px;
  height: 250px;
}

.info {
  display: flex;
}

.link {
  text-decoration: none;
  color: white;
}

.contact {
  margin-right: 5px;
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.contact:hover {
  color: #e8e8e8;
}

.contact:hover::before {
  width: 100%;
}

.sign {
  margin-right: 10px;
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.sign::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.sign:hover {
  color: #e8e8e8;
}

.sign:hover::before {
  width: 100%;
}

.login {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #13b6a8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.login:hover {
  color: #e8e8e8;
}

.login:hover::before {
  width: 100%;
}

.buttonSections {
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(43, 189, 99);
  width: 25%;
  padding: 7px;
  margin: 5px;
  color: #212121;
  border-radius: 10px;
}
.log {
  font-size: 20px;
}
