.postDetailContainer {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.postTitle {
  color: #333;
  font-size: 24px;
}
.image{
  width: 350px;
}
.deleteButton {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteButton lord-icon {
  margin-right: 5px;
}

.postDescription {
  color: #666;
  font-size: 16px;
}

.postImage {
  max-width: 100%;
  margin-bottom: 10px;
}

.postMetadata {
  color: #999;
  font-size: 14px;
}

.postGitHubLink {
  color: blue;
}
