.postDetailContainer {
  background-color: #1A1A1B;
  /* margin-top: 10px; */
}

.post_card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: lightgrey;
  background-color: rgb(24 27 32);
  border: 1px solid rgb(84 90 106);
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 50px;

}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: blueviolet;
  background-image: linear-gradient(to top left, blueviolet, rgb(73, 31, 112));
}

.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  transition: all .35s ease-in;
}

.image_preview {
  flex: 1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-image: linear-gradient(to top left, blueviolet, rgb(73, 31, 112));
  margin-bottom: 4px;
}

.image_preview img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 340px;
  /* width: 433px; */
  border-radius: 20px;
}

.back {
  position: absolute;
  top: calc(15% - 55px);
  left: calc(74% - 57px)
}

.description {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.edit {
  position: absolute;
  top: calc(16% - 65px);
  left: calc(66% - 57px);
}

.cancel {
  position: absolute;
  top: calc(63% - 65px);
  left: calc(94% - 62px);
}

.disqus {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}