@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.card {
  padding: 20px;
  width: 340px;
  height: 632px;
  border-radius: 20px;
  background: #deab3a;
  /* box-shadow: 5px 5px 6px #dadada,
    -5px -5px 6px #f6f6f6; */
  transition: 0.4s;
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 60px;
}

.card:hover {
  translate: 0 -10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 15px 0 0 10px;
  font-family: 'Play', sans-serif;
}

.linkDetail {
  text-decoration: none;
}

.linkInstructor {
  text-decoration: none;
  color: #636363;
}

.card_image {
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
    inset -8px -8px 10px #cfcfcf;
}

.card_image img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.card_body {
  /* margin: 13px 0 0 10px; */
  margin-top: 5px;
  color: rgb(31, 31, 31);
  font-family: 'Play', sans-serif;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(245, 222, 179, 0.685);

}

.footer {
  position: absolute;
  margin-left: -5px;
  margin-top: 5px;
  font-size: 13px;
  color: #636363;
}

.by_name {
  font-weight: 700;
  margin-left: 5px;
}


.imgUser {
  width: 35px;
  border-radius: 10px;
  margin-left: 5px;
}