.container {
    position: relative;
    display: flex;
    border: 2px solid #000;
    border-radius: 1%;
    width: 800px;
    height: 350px;
    padding: 6px;
    margin-top: 80px;
}

.headerCard {
    display: flex;
    background-color: wheat;
    padding: 0 5px;
    min-height: 15%;
    margin-bottom: 18px;
    justify-content: center;
    border-radius: 10px;
}

.linkDetail {
    text-decoration: none;
    position: absolute;
    margin-left: 370px;
    margin-top: 140px;
    color: white;
    background-color: #2f915b;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.text4 {
    font-size: 15px;
    font-weight: bold;

}

.linkDetail:hover {
    transform: translateY(-7px);
}

.linkDetail:active {
    transform: translateY(-1px);
}

.container2 {
    display: contents;
}

.text1 {
    font-size: large;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 22px;
}

.img1 {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 15 0px;
    margin-top: 5px;
    border-radius: 50%;
}

.text2 {
    font-size: small;
    margin-left: 210px;
    margin-top: -62px;
}

.img2 {
    width: 200px;
    height: 200px;
}

.text3 {
    font-size: large;
    margin-top: -11px;
    margin-bottom: 15px;
    color: black;
}