
.ContainerCardNews {
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .ContainerCardNews h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .ContainerCardNews img {
    width: 100%;
    width: 320px;
    display: flex;
    height: 350px;
    
    object-fit: cover;
    margin-bottom: 10px;
  }
  .title{
    font-size: 20px;
  }
  a{
    text-decoration: none
  }
  .ReadMore{
    font-size: 17px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ReadMore:hover {
    color: red;
  }

  .description{
    font-family:sans-serif
  }
  .Date{
    color:brown;
    font-size: 15px;
  }
  .Author{
    color: brown;
    font-size: 15px;
  }
  .Category{
    display: inline-block;
    border: 2px solid black;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 15px;
    background-color: orangered;
    
  }