.container_community {
  height: 70.8vh;
  background-color: #212529;
  padding-top: 30px;
}

.uploadimage {
  margin: 10px;
  transform: translateX(8px);
}

.container_community span {
  font-size: 15px;
  color: rgb(153, 5, 5);
  font-weight: bold;
}

.container {
  width: 40%;
}