.container {
    position: absolute;
    margin-left: 250px;
    margin-top: -90px;
    padding: 50px;
}
.selectUno{
    font-size: 20px;
}
.selectDos{
    font-size: 20px;
}
.selectTres{
    font-size: 20px;
}