.container {
    position: absolute;
    margin-left: 190px;
    margin-top: -30px;
    padding: 50px;
}

.container select {
    margin-right: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}