.container h1 {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Cambio aquí */
  grid-gap: 20px;
  padding: 20px;
  height: 80vh;
  background-color: #1A1A1B;
}

.card {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 500px;
  height: 484px;
  display: inline-block;
  align-items: center;
  border-radius: 25px;
  border: 2px solid rgb(250, 243, 243);
  background-color: rgba(235, 229, 237, 0.925);
  margin: 40px;
  border: 2px solid black;
  transition: 0.5s;
  align-items: center;
}

.modal-text-large {
  font-size: 16px;
  /* Puedes ajustar el tamaño de fuente según tus necesidades */
}

.card:hover {
  transform: translateY(-5px);
  filter: drop-shadow(-3px 12px 20px #635e53);
}

* .card_img {
  height: 192px;
  width: 100%;
}

.card_img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card_avatar {
  position: absolute;
  width: 114px;
  height: 10px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
  left: calc(20% - 57px);
}

.img {
  width: 814px;
  height: 114px;
  border-radius: 100%;

}

.card_title {
  margin-top: 60px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card_subtitle {
  display: flex;
  margin-top: 10px;
  color: rgb(73, 70, 70);
}

.info {
  margin-left: 5px;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}

.button {
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  font-weight: bold;
  transition: 0.5s;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Roboto Serif', serif;
  background-color: #2d62b0c7;
}

/* .button {
  background-color: #2d62b0c7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
} */

.button:hover {
  transform: translateY(-5px);
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}


.card_img {
  text-align: center;
}

.card_img svg {
  width: 100%;
}

.card_avatar {
  text-align: center;
}

.card_avatar img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.card_title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.card_subtitle {
  text-align: center;
  margin-top: 10px;
}

.card_reviews {
  text-align: center;
  margin-top: 20px;
}

.card_reviews p {
  font-size: 14px;
}

.card__wrapper {
  text-align: center;
  margin-top: 20px;
}



.modal-body {
  padding: 20px;
}

.modal-body .form-control {
  margin-bottom: 10px;
}

.modal-footer {
  padding: 20px;
  justify-content: center;
}

@media (max-width: 1712px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card {
    margin-bottom: 20px;
  }

  .card_avatar img {
    max-width: 180px;
  }

  .card_title {
    font-size: 20px;
  }

  .card_reviews p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .card_avatar img {
    max-width: 130px;
  }

  .card_title {
    font-size: 18px;
  }

  .card_reviews p {
    font-size: 12px;
  }
}