
.container {
    position: relative;
    display: flex;
    border: 2px solid #000;
    border-radius: 1%;
    width: 800px;
    height: 290px;
    padding: 6px;
    margin: 15px;
}

.container2 {
    display: contents;
}

.text1 {
    font-size: large;
    margin-top: 5px;
}

.img1 {
    width: 30px;
    height: 30px;
    margin-left: 95px;
    margin-top: -47px;
    clip-path: 
    polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%,
    20% 100%, 0% 80%, 0% 20%);
}

.text2 {
    font-size: small;
    margin-left: 210px;
    margin-top: -62px;
}

.img2 {
    width: 200px;
    height: 200px;
}

.text3 {
    font-size: large;
    margin-top: -11px;
}