.large_circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #cdcdff;
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s;
  box-shadow: 0 0 145px 150px #cdcdff;
  opacity: 0.15;
}