# # Ignorar archivos y directorios generados por el sistema operativo
# .DS_Store
# Thumbs.db

# # Ignorar archivos de configuración local
# .env
# .env.*
# */settings_local.py

# # Ignorar archivos y directorios generados por Django
# *.log
# *.pot
# *.pyc
# __pycache__/
# media/

# Ignorar archivos de migraciones de la base de datos
# **/migrations/*.py
# **/migrations/*.pyc
# **/migrations/__pycache__/
# db.sqlite3

# Ignorar archivos de dependencias y entorno virtual
venv/
# env/
# .env/

# # Ignorar archivos de registro de pruebas
# reports/

# # Ignorar archivos de respaldo o temporales
# *.bak
# *.swp
# *.~*

# # Ignorar archivos específicos para tu proyecto
# archivo_a_ignorar.ext
# carpeta_a_ignorar/
