<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation Successful</title>
  <!-- Enlace a los archivos CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Activation Successful!</h4>
      <p>Your account has been successfully activated.</p>
      <hr>
      <p class="mb-0">Now you can login to our app.</p>
    </div>
  </div>
</body>
</html>