.image {
    width: 70px;
}

.buttonDownload {
    display: flex;
    position: relative;
    padding: 5px 10px;
    background-color: gray;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 2em;
    font-weight: bold;
    font-size: 13px;
    margin-top: 8.0rem;
    /* margin-left: -720px; */
    z-index: 3;
}

.buttonDownload:hover {
    background-color: #4c956c;
    color: white;
}

